/* Mobile version */
/*mum015 has edited the folowing lines of code: */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@media only screen and (max-width: 1000px) {

/*yuh017 has edited the folowing lines of code: */
html {
  max-width: 10000px;
  margin: auto;
  margin-top: -.5em;
  margin-bottom: 15em;
  background: #ddd;
}

header {
	margin-left: -8px;
	margin-right: -8px;
  margin-bottom: 13px;
}

a {
	font-family: Lato;
}

h1 {
	font-family: Lato;
  font-size: 250%;
}

h2 {
	font-family: Lato;
  font-size: 200%;
}

p {
	font-family: Lato;
	line-height: 1.5;
}


main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  /*grid-gap: 1rem;*/
  color: black;
  grid-gap: 1em;
}



img {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  color: white;
  background: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: .75em;
  padding: 1em;
  font-family: sans-serif;
}

/*mum015 has edited the folowing lines of code: */
/* PICTURES: */
#phone {
	width: 50px;
	height: 40px;
}

#facebook {
	width: 50px;
	height: 50px;
}

.English {
  width: 75px;
  height: 50px;
}

.Deutsch {
  width: 75px;
  height: 50px;
}

.FranÃ§ais {
  width: 75px;
  height: 50px;
}

.Norsk {
  width: 75px;
  height: 50px;
}

.Italiano {
  width: 75px;
  height: 50px;
}

.EspaÃ±ol {
  width: 75px;
  height: 50px;
}

.ä¸­å›½äºº {
  width: 75px;
  height: 50px;
}

.flags {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4.5px;
  list-style: none;
  background-color: white;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 5px 5px #c7c7c7;
}

.flags a:hover {
  outline: #FFDD00 solid 3px;
  padding: 2px;
  padding-top: 41px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

.flags .current a{
  outline: #c4c4c4 solid 3px;
  padding: 2px;
  padding-top: 41px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #c4c4c4;
}

/*NAVIGATION*/
/*een014 has edited the folowing lines of code:

/*Following code is inspired from Traversy Media
https://www.youtube.com/watch?v=DZg6UfS5zYg*/

/* Hamburger meny styles */

.menu-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0em;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 100px;
  height: 100px;
  opacity: 0;

}

.menu-wrap .hamburger {
  position: absolute;
  top: -1em;
  left: 0;
  z-index: 1;
  width: 100px;
  height: 100px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 70%;
  height: 8px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -18px;
  width: 100%;
  height: 8px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 18px;
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
  background:#590f11;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  font-size: 550%;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  list-style: none;
  color: #A9A9A9;
  font-size: 1.5rem;
  padding: 1rem;
  font-size: 100%;

}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/*een014 and yuh017 has edited the folowing lines of code: */
/*EVERYTHING UNDER HERE IS IN THE MAIN:*/

/*INDEX PAGE*/

.index {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 5em;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 12;
}

.index_h1 {
  display: flex;
  flex-flow: column;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
}

.welcome {
  display: flex;
  flex-flow: column;
  margin-top: 0em;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;

}





.gallary {
  display: flex;
  flex-flow: column;
  background-color: white;
   box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;

}


.trekroner {
  display: flex;
  flex-flow: column;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;


}


.contact_us {
  flex-flow: column;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
}


/*MENU PAGE*/

.slideShow {
  font-family: Lato;
	font-size: 16px;
	line-height: 2;
  overflow: hidden;
  text-align: center;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 4;
}

.meny {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 5em;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 12;
}

.menu_h1 {
  display: flex;
  flex-flow: column;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
}

.hot_dog_type {
  display: flex;
  flex-flow: column;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
  text-align: center;
}

.hot_dog_type_slide {
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 2rem;
}


/*CHOICE PAGE*/

.choice {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 5em;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 12;
}

.choice_h1 {
  display: flex;
  flex-flow: column;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
}

.choice a:hover {
  color: #A9A9A9;
  text-align: center;
}

.food {
  display: flex;
  flex-flow: column;
  margin-top: 0em;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
}

.drinks {
  display: flex;
  flex-flow: column;
  margin-top: 0em;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
}

.drink_h1 {
  display: flex;
  flex-flow: column;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
}

.drink_main img {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

.food a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

.drinks a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 66%;
}

/*DRINKS PAGE*/

.drink_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 5em;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 12;

}

.drink_product {
  display: flex;
  flex-flow: column;
  margin-top: 0em;
  text-align: center;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
}

.drink_product img {
  width: 15%;
  height: 66%;
}

/*ABOUT US PAGE*/
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 5em;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 12;

}

.about_us {
  display: flex;
  flex-flow: column;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
}

.aboutus_h1 {
  display: flex;
  flex-flow: column;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
}

/*FIND US PAGE*/
.findus {
	 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin-bottom: 30em;
  grid-gap: 1rem;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 12;

}

.findus_h1 {
  display: flex;
  flex-flow: column;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
}

.map {
  display: flex;
  flex-flow: column;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
  height: 250%;
}

iframe {
  width: 100%;
  height: 100%;
}

.map_text {
  display: flex;
  flex-flow: column;
  background-color: white;
  box-shadow: 5px 5px #c7c7c7;
  border-color: #7e7e7e;
  border-radius: 0.1rem;
  padding: 2rem;
}

}